{
  "env": {
    "targets": [">0.2%", "not dead", "last 2 versions"]
  },
  "jsc": {
    "loose": true,
    "parser": {
      "syntax": "typescript"
    },
    "target": "es5"
  },
   "minify": true,
  "sourceMaps": true
}
